:root {
    --primary-color: #c2487d;
    --secondary-color: #48C28D;
    --font-primary-color: #f3e5ab;
    --font-family: "Poppins", "sans-serif";
    --font-size-huge: 40px;
    --font-size-big: 36px;
    --font-size-normal: 24px;
    --font-size-small: 16px;
    --font-size-little: 12px;
}

body {
    font-family: var(--font-family);
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--font-primary-color);
}

.header {
    position: -webkit-sticky;  /* Safari */
    position: sticky;
    width: 100%;
    background: var(--primary-color);
    top: 0;
    display: flex;
}

.nav-block {
    width: 60%;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    position: relative;
}

.nav {
    text-align: center;
    display: block;
}

.nav-opcion {
    display: inline;
    text-transform: uppercase;
    margin: 2%;
}

.cuerpo-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0px;
}

.cuerpo-seccion.main {
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-weight: 500;
    font-size: var(--font-size-normal)
}

.titulo-principal {
    font-size: var(--font-size-huge);
    color: var(--secondary-color);
}

.descripcion-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.section.main {
    background-image: url("./sources/laptopbackground.jpg");
    background-position: center;
}

.item-formacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 3px var(--secondary-color);
    border-radius: 4px;
    height: 200px;
    width: 300px;
}

.lugar-fecha-formacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.inner-text-card {
    width: 150px;
}

.material-icons {
    padding-right: 5%;
}

.grid-formacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.titulo-formacion {
    font-weight: 800;
    border-bottom: solid 3px var(--secondary-color);
}

.card-section * {
    margin: 10px 20px;
}

.imagen {
    height: 250px;
}

.titulo-seccion {
    font-size: var(--font-size-big);
}

.descripcion-seccion {
    font-size: var(--font-size-normal);
    margin-bottom: 50px;
}

.tecnologias {
    background-color: rgba(194, 72, 125, 0.25);
}

.idiomas {
    margin-top: 30px;
    width: 520px;
}

.columna {
    float: left;
    display: block;
}

.contenedor-barra {
    margin: 10%;
    background-color: #EFEFEF;
    -webkit-border-radius: 30px;
    height: 15px;
    position: relative;
}

.titulo-barra {
    color: #2D2D2D;
    left: 15px;
    position: absolute;
    top: -24px;
}

.porcentaje {
    background-color: var(--secondary-color);
    -webkit-border-radius: 30px;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
}

.porcentaje90 {
    width: 90%;
}

.porcentaje40 {
    width: 40%;
}

.porcentaje span {
    background: #2D2D2D;
    color: #FFF;
    font-size: 11px;
    padding: 4px;
    position: absolute;
    right: -14px;
    top: -32px;
}